<h1> Pre Process Data </h1>

In [5]:
# Import Liabraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from NNDeep import DeepNN

In [6]:
# Read the Dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# Get the Things of interest from the Dataset
X = df.iloc[:,3:-1]
y = df.iloc[:,-1]

In [8]:
# Encode the Words - One Hot Encoding
    # 100 = France
    # 010 = Spain
    # 001 = Germanuy
    
    # 1 - Male
    # 0 - Female

# Create Columns for One Hot Encoding
X['France'] = np.zeros( (len(y),1) )
X['Spain'] = np.zeros( (len(y),1) )
X['Germany'] = np.zeros( (len(y),1) )

for i in range(len(y)):
    if (X['Geography'][i] == 'France'):
        X.loc[i,'France'] = 1
    if (X['Geography'][i] == 'Spain'):
        X.loc[i,'Spain'] = 1
    if (X['Geography'][i] == 'Germany'):
        X.loc[i,'Germany'] = 1

X = X.drop(['Geography'],axis=1)

for i in range(len(y)):
    if (X['Gender'][i] == 'Male'):
        X.loc[i,'Gender'] = 1
    else:
        X.loc[i,'Gender'] = 0
        
# Remove France to avoid Dummy Variable Trap
X = X.drop(['France'],axis = 1)

In [9]:
max_X_Bal = max(X['Balance'])
X.loc[:,'Balance'] = X.loc[:,'Balance']/max_X_Bal

max_X_EstSalary = max(X['EstimatedSalary'])
X.loc[:,'EstimatedSalary'] = X.loc[:,'EstimatedSalary']/max_X_EstSalary

max_X_creditScore = max(X['CreditScore'])
X.loc[:,'CreditScore'] = X.loc[:,'CreditScore']/max_X_creditScore

max_X_age = max(X['Age'])
X.loc[:,'Age'] = X.loc[:,'Age']/max_X_age

max_X_tenure = max(X['Tenure'])
X.loc[:,'Tenure'] = X.loc[:,'Tenure']/max_X_age

max_X_numProducts = max(X['NumOfProducts'])
X.loc[:,'NumOfProducts'] = X.loc[:,'NumOfProducts']/max_X_numProducts

In [10]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Spain,Germany
0,0.728235,0,0.456522,0.021739,0.000000,0.25,1,1,0.506763,0.0,0.0
1,0.715294,0,0.445652,0.010870,0.334031,0.25,0,1,0.562734,1.0,0.0
2,0.590588,0,0.456522,0.086957,0.636357,0.75,1,0,0.569679,0.0,0.0
3,0.822353,0,0.423913,0.010870,0.000000,0.50,0,0,0.469151,0.0,0.0
4,1.000000,0,0.467391,0.021739,0.500246,0.25,1,1,0.395435,1.0,0.0

In [11]:
# Convert Data frame to Numpy Arrays
X = np.array(X, dtype=np.float32)
y = np.array(y, dtype=np.float32).reshape(len(X),1)
# X_round = np.round(X)

In [12]:
# Split into test and Train Set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

/Users/mohakamg/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

<h1> Build The Neural Net </h1>

In [13]:
# Initialize The Neural Net
NN = DeepNN([11,50,50,1])

In [ ]:
# Train The Net
NN.learn(60000,0.001,X_train,y_train,['reLU','reLU','sigmoid'],'log_loss',6000,'sgd',100)

Effective epoch:  1.0
Accuracy:  74.925 %
Cost:  0.6187538870094018

Effective epoch:  2.0
Accuracy:  86.41250000000001 %
Cost:  0.33235869790418326

Effective epoch:  3.0
Accuracy:  86.7125 %
Cost:  0.3195464401160276

Effective epoch:  4.0
Accuracy:  87.0125 %
Cost:  0.3121843304375995

Effective epoch:  5.0
Accuracy:  87.275 %
Cost:  0.30716438688153763

In [ ]:
print('Training Accuracy: ',np.mean(np.round(NN.think(X_train))==y_train) * 100)
print('Testing Accuracy: ',np.mean(np.round(NN.think(X_test))==y_test) * 100)

<h1> Use Keras </h1>

In [ ]:
# Import Keras
import keras # Set Backend to Tensorflow
from keras.models import Sequential # To initialize our NN
from keras.layers import Dense # To build the Layers

In [ ]:
# Initialize the ANN
ANN = Sequential()

In [ ]:
# Add the First Hidden Layer

# units = Number of Neurons in this layer
# kernel_initializer = Random Distribution from which the weights are slected
# activation = activation function of this layer
# input_dim = The number of layers in the input layer - it is required only in the first ...
#             hidden layer as it has no idea about the input layer. We have only initialized
#             the NN but not given it information about the structure
ANN.add(Dense(units = 50, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

In [ ]:
# Add the Second Hidden Layer
ANN.add(Dense(units = 50, kernel_initializer = 'uniform', activation = 'relu'))

In [ ]:
# Add the Output Layer
ANN.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [ ]:
# Compile the NN with paramaters
# Use Stochastic Gradient Decent
# Metrics is to show the measure of perfomrance
ANN.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [ ]:
# Train the NN
ANN.fit(X_train, y_train, batch_size = 10, epochs = 100)

In [ ]:
print('Keras Training Accuracy: ', np.mean(np.round(ANN.predict(X_train)) == y_train)*100)
print('Keras Testing Accuracy: ', np.mean(np.round(ANN.predict(X_test)) == y_test)*100)